@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tr__ago Challenge</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
			Situation: You are working as a consultant for a medium size company with around 4000
			employees. To cope with the high number of Projects, Products and Services in the IT
			Department the management decides to implement a portal solution. The solution should
			help everyone to keep the overview on planned and ongoing deliverables (project, product
			or service deliveries). After make or buy assessment, the management decides in favor of
			custom built ASP.NET solution. You are taking responsibility for this project. In an initial
	        stakeholder meeting, you note down the following requirements:
	        <ul>
		        <li>Every deliverable needs to be uniquely identifiable</li>
		        <li>Deliverables are usually of type: project, product, service.</li>
		        <ul>
			        <li>Example for project: “Establish the IT infrastructure for a new office in Amsterdam”</li>
			        <li>Example of product: “Buy a SaaS for HR department”</li>
			        <li>Example of service: “Messaging system – Microsoft Exchange”</li>
		        </ul>
		        <li>Every deliverable needs to be covered with as much detail as possible</li>
		        <li>Required technical skills should be identified for each deliverable</li>
		        <li>Team members should be identified for each deliverable</li>
		        <ul>
			        <li>Example: for project “Establish the IT infrastructure for a new office in Amsterdam” the team members are: Aaron Painter; John Doe; Jane Doe</li>
		        </ul>
				<li>Every team member should be able to add his technical skills</li>
	        </ul>
			There should be a matching mechanism between skills that team members possess and the
			skills that are required for the deliverable.
        </p>
    </div>
</div>